:root{
    background-color: rgb(114, 211, 228);
}

header{
    margin-bottom: 10px;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
}

#id_selection{
    width: 200px;
    flex-grow: 2;
    align-items: center;
}

h1{
    font-family: 'Freckle Face', cursive;
    font-size: 50px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 7px 80px 7px 80px;
    background-image: linear-gradient(to bottom right, red, yellow)
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.possible-words{
    font-weight: 600;
    border: 2px solid black;
    padding: 7px 15px 7px 15px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom right, red, yellow)
}

.result-container{
    display: flex;
    flex-direction: column;
    
}

.result-text{
    font-weight: 600;
    font-size: larger;

}
.search-button{
    font-weight: 600;
    background-color:#ff8800;
    width: 125px;
}

.search-button:hover{
    background-color: black;
    color: seashell;
}